openapi: '3.0.3'
info:
  title: API Title
  version: '1.0'
servers:
  - url: https://api.server.test/v1
paths:
  /test:
    get:
      responses:
        '200':
          description: OK

  /agents:
    get:
      description: ''
      parameters: []
      responses:
        '200':
          description: OK
  /name:
    get:
      description: ''
      parameters: []
      responses:
        '200':
          description: OK