.pokemon-grid {
    display: grid;
    /* grid-template-columns: 2fr 200px 2fr 2fr; */

    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.pokemon-card {
    border: 1px solid rgb(78, 68, 68);  
    padding: 16px;

    transition: 0.2s transform ease;

    img {
        width: 100%;
    }
}

.pokemon-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.pokemon-card-selected {
    border: 2px solid red; 
}