.pokemon-grid {
    display: grid;
    /* grid-template-columns: 2fr 200px 2fr 2fr; */

    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.pokemon-card {
    border: 1px solid rgb(78, 68, 68);  
    padding: 16px;

    text-decoration: none;
    color: black;

    transition: 0.2s transform ease;

    img {
        width: 100%;
    }
}

/* some browsers still haven't supported CSS nesting */
/* 
.pokemon-card img {
    width: 100%;
} */

.pokemon-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    border: 2px solid rgb(241, 30, 30);  
}

.pokemon-card-selected {
    border: 2px solid red; 
}

.search-container {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.input-search {
    width: 90%;
    padding: 8px 16px;
    font-size: 2rem;
    text-align: center;
    /* margin-bottom: 16px; */
}

.search-result-box {
    border: 1px solid black;
    position: absolute;
    top: 56px;
    left: 12px;
    width: 97%;
    background-color: white;
    padding: 16px;
    z-index: 100;
}

/* Media query */
/* apply this specific style on mobile screen */
/* @media screen and (max-width: 768px) {
    .pokemon-grid {
        grid-template-columns: repeat(2, 1fr);
    }   
} */


.modal-overlay {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    
    /* From https://css.glass */
    background: rgba(36, 2, 2, 0.38);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
        width: 400px;
        min-height: 400px;
        background-color: white;
        padding: 32px;
        border-radius: 16px;
        box-shadow: 
            0 8px 32px rgba(0, 0, 0, 0.9),
            
    }
}

